<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ReportBangDiemCuaMotLopHoc.Properties.Settings.QuanLyThiTracNghiemConnectionString"
            connectionString="Data Source=ASUS\XUANHOAI1;Initial Catalog=QuanLyThiTracNghiem;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name ="QuanLyThiTracNghiem"
			 connectionString="Data Source=ASUS\XUANHOAI1;Initial Catalog=QuanLyThiTracNghiem;Integrated Security=True"/>
	</connectionStrings>
</configuration>